body{
	font-family: 'Source Sans Pro', sans-serif;
}

/*ANIMATED SCROLLING SECTION*/

.firstFade, .secondFade, .thirdFade{
	display: none;
}

.contentFade{
	opacity: 0;
	-webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

.contentFadeFast{
	opacity: 0;
	 -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

/* SECTION HEADINGS*/
.section{
	text-align: center;
	font-weight: 700;	
}

/* Responsive Media Queries*/

@media only screen and (min-width: 1280px){
	.welcome{	
	width: 49.8%;
	}

	.welcomeContainer{
	width: 100%;
	}
}

@media only screen and (min-width: 1025px){
	.contactinfo{
		font-size: 18px;
	}
}

@media only screen and (min-width: 851px){
	.contactinfo{
		width: 33%;
	}
	.roomimg{	
		width: 55%;
	}
}

@media only screen and (min-width: 601px){
	.heading{
		font-size: 2.5em;
	}
	.heading2{
		font-size: 1.5em;
	}
	.heading3{
		font-size: 1em;
	}
	.heading4{
		font-size: 1em;
	}
	.section{
		font-size: 2em;	
	}
	.welcomeMessage{
		font-size: 1.8em;
	}
	.welcomeMessage2{
		font-size: 1.125em;
	}
	.featureitems{
		font-size: 1.125em;
	}
	.table-responsive{
		font-size: 1.125em;
	}
	.priceheading{
		font-size: 1.25em;
	}
	.ratesnotice{
		font-size: 1.25em;
	}
	.listterms{
		font-size: 1.125em;
	}
	.bookButton{
		font-size: 1em;
		padding: 15px 100px;
	}
	.fa-chevron-circle-left, .fa-chevron-circle-right{
		font-size: 	1.8em;
	}
}


@media only screen and (max-width: 1279px){
.titleimg{
		content:url("display-images/title_medium.jpg");
	}
.welcome{	
	width: 100%;
	padding-top: 2.5%;
	}
.welcome2{	
	width: 100%;
	}
}


@media only screen and (max-width: 850px){
	.contactinfo{
		width: 100%;
	}
	.roomimg{	
		width: 70%;
	}
}

@media only screen and (max-width: 600px){
	.titleimg{
		content:url("display-images/title_small.jpg");
	}
	.heading{
		font-size: 1.875em;
	}
	.heading2{
		font-size: 1.125em;
	}
	.heading3{
		font-size: 0.75em;
	}
	.heading4{
		font-size: 0.75em;
	}
	.section{
		font-size: 1.5em;	
	}
	.welcomeMessage{
		font-size: 1.35em;
	}
	.welcomeMessage2{
		font-size: 0.85em;
	}
	.featureitems{
		font-size: 0.85em;
	}
	.table-responsive{
		font-size: 0.90em;
	}
	.priceheading{
		font-size: 0.95em;
	}
	.ratesnotice{
		font-size: 0.95em;
	}
	.listterms{
		font-size: 0.90em;
	}
	.bookButton{
		font-size: 0.90em;
		padding: 15px 50px;
	}
	.fa-chevron-circle-left, .fa-chevron-circle-right{
		font-size: 	1.5em;
	}
}

@media only screen and (max-width: 400px){
	.heading{
		font-size: 1.5em;
	}
	.heading2{
		font-size: 1.0em;
	}
	.roomimg{	
		width: 85%;
	}
	.fa-chevron-circle-left, .fa-chevron-circle-right{
		font-size: 	1em;
	}
}

/*FOR TITLE PAGE AREA*/

.title{
	padding: 55px 0px 0px;
}
	
.titleimg{
	object-fit: cover;
	width: 100%;
	height: auto;
}

.heading{
	font-weight: 700;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.heading2{
	position: absolute;
	top: 26%;
	left: 50%;
	transform: translate(-50%, -50%);
}	

.heading3{
	position: absolute;
	top: 34%;
	left: 50%;
	font-weight: 700;
	transform: translate(-50%, -50%);
}

.heading4{
	position: absolute;
	top: 38%;
	left: 50%;
	font-weight: 700;
	transform: translate(-50%, -50%);
}

/*NAVBAR AREA*/

a#bookNow {
	display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.navbar-brand{
	font-size: 28px;
}

.nav-item{
	font-size: 18px;
}

.active{
	font-weight: 700;
}

/*WELCOME AREA*/
.welcomeContainer{
	/*width: 100%;*/
}

.welcomeImg{
	width: 100%;
	height: 100%;
	content:url("display-images/summer_2013.jpg");
}


.welcome{	
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.welcome2{	
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.welcomeMessage{
	text-align: center;
	font-weight: 700;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;
}

.welcomeMessage2{
	text-align: left;
	padding: 5%;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;
}

.bookButton{
	border: 2px solid black;
	text-align :center;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	background-color: white;
	border-radius: 5px;
}

.bookButton:hover{
	background-color: black;
	color: white;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

/* ROOM SECTIONS*/

#rooms{
	padding: 20px 0px;
	text-align: center;
}

.deluxe, .kitchen, .family{
	padding: 20px 0px;
}

.photoGallery{
	padding: 10px 10px;
	display: block;
}

.roomimg{	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.hidden{
	display: none;
}

.fa-chevron-circle-left, .fa-chevron-circle-right{
	color: black;
}

/* ROOM FEATURES SECTION*/
a#featuresLink {
	display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}


.features{
	height: auto;	
	padding: 20px 0px;
}

.featuretable{
	width: 100%;
}

.featuretable, .featurerow, .featurecol{
	text-align: left;
}

.featureitems{
	list-style-type: circle;
	font-weight: 700; 
}

.listleft{
	margin: 0 auto;
	width: 80%;
}

/*ROOM RATES SECTION*/
.rates{
	padding: 50px 0px 0px;
	background-image: url("display-images/bed-2607154.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: left;

}

a#ratesLink {
	display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}


.table-responsive{
	padding: 20px 0px;
	/*font-size: 18px;*/
}

.prices, .priceheading, .pricecol{
	padding: 25px;
	text-align: center;
}
.prices{
	width: 100%;
}

.priceheading, .pricecol{
	border-bottom: 1px solid grey;

}

.priceheading{
	font-weight: 700;
}

.pricerow{
	transition-duration: 0.5s;
}

.pricerow:hover{
	background-color: #c9c9c9;
	font-weight: 700;
}

/* RATE TERMS SECTION*/

.terms{
	padding: 0px 30px 0px;
	text-align: center;
}

.listterms{
	text-align: left;
	list-style-type: circle;
	display: inline-block;
	font-weight: 700;
}

.ratesnotice, .termitems{
	padding: 10px;
}

.ratesnotice{
	font-weight: 700;
}


/*CONTACT SECTION*/
.contact{
	padding: 40px 0px;
	text-align: center;
}

a#contactLink {
	display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.contactinfo{
	
	font-weight: 700;
	display: inline-block;
	padding: 40px 0px;
}

/* GOOGLE MAPS FORMATTING */
.map{
	height: 0;
	padding-bottom: 45%;
	overflow: hidden;
	position: relative;
}

.map iframe{
	position: absolute;
	top: 0;
	left: 10%;
	width: 80%;
	height: 100%;
}


/*COPYRIGHT SECTION*/
.copyright{
	padding: 50px 0px 0px;
	text-align: center;
	font-size: 20px;
}

